h1{
    text-align: center;
}

#newAccount_box{
    margin: 0 auto;
    width: 700px;
    height: 630px;
    left: 24%;
    border: 1px solid #000000;
    text-align: center;
    position: absolute;
    z-index: 1;
}

#loginAccount_box{
    margin: 0 auto;
    width: 700px;
    height: 405px;
    left: 24%;
    border: 1px solid #000000;
    text-align: center;
    position: absolute;
    z-index: 1;
}

input[type="text"]{
    width:300px;
}

input[type="password"]{
    width:300px;
}

input[type="button"]{
    width: 100px;
    height: 60px;

}

input[type="button"]:hover{
    color: #ffffff;
    background-color: #999999;
    width: 100px;
    height: 60px;
    
}